
{% extends "base.html" %}
{% block content %}
<div class='col-sm-6 col-sm-offset-3 text-center'>
<h1>Register</h1>
<form method="POST" action="{% url 'register' %}">
{% csrf_token %}
<div class="fieldWrapper">
{{ form.email.errors }}
                <label for="{{ form.email.id_for_label }}">Email: </label>
                {{ form.email }}
</div><br />
<div class="fieldWrapper">
{{ form.password1.errors }}
                <label for="{{ form.password1.id_for_label }}">Password: </label>
                {{ form.password1 }}
</div><br />
<div class="fieldWrapper">
{{ form.password2.errors }}
                <label for="{{ form.password2.id_for_label }}">Retype Password: </label>
                {{ form.password2 }}
</div><br /><br />            
<input type="submit" class="btn btn-primary" value="Register">
<input type="hidden" name="next" value="{{ next }}">
</form>
<p>Did you need to <a id="v1" href='{% url "login" %}'>Login</a>
</div>

{% endblock %}  