{% load static %}

<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="{% static "style.css" %}">
<link rel="stylesheet" href="{% static "jquery-ui.css" %}">
<link rel="stylesheet" href="{% static "/bootstrap/css/bootstrap.min.css" %}">
<script src="{% static "jquery-3.3.1.min.js" %}"></script>
<script src="{% static "jquery-ui.js" %}"></script>
<script src="{% static "/bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "common.js" %}"></script>


<title>{% block title %}boxoffice.com{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">BoxOffice</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/movies/">Movies</a></li>
            <li><a href="/theatres/">Theatres</a></li>
            {% if user.is_authenticated %}
            <li><a href="/booking/">My Booking</a></li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li class="active"><a href="/logout/">Sign Out</a></li>
            {% else %}
            <li class="active"><a href="{% url 'login' %}" id="signIn">Sign In</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
            
          </ul>
          <div style="margin-right:5px;">
            <form class="navbar-form navbar-right search-form" role="search" action="{% url 'search' %}">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Search">
              <span class="input-group-btn input-group-sm">
                <button type="submit" class="btn btn-default">Search</button>
              </span>
            </div>  
            </form>
          </div>
        </div>
      </div>
    </nav>
    <script type="text/javascript">
 
  
  $(document).ready(function(){

    var searchForm = $('.search-form');
    console.log(searchForm)
    var searchInput = searchForm.find("[name='q']");
    console.log(searchInput)
    var typingTimer;
    var typingInterval = 500;
    console.log("hello")
    searchInput.keyup(function(event){
        clearTimeout(typingTimer);
        console.log(searchInput.val())
        typingTimer = setTimeout(function(){
          console.log("Hello w")
        var query = searchInput.val();
        window.location.href='/search/?q='+query;
    },typingInterval,searchInput);
    });
    searchInput.keydown(function(event){
        clearTimeout(typingTimer);
       
    });
  });
</script>
<div id="content" class="container-fluid">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>