{% extends "base.html" %}

{% block title %}
    BoxOffice | Theatres
{% endblock %}

{% block content %}
<div class="container">
<div class="row">
Results for <b>{{ query }}</b>
<hr/>
</div>
</div>
<div class="jumbotron">
        
        {% if movie_list %}
        {% for movie in movie_list %}
        <div class="row">
            <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="{{ movie.image.url }}" alt="{{ movie.name }}">
                    <div class="caption">
                        <h3><a href="{% url 'movie:detail' movie.id %}">{{ movie.name }}</a></h3>
                        <p>{{ movie.cast }}</p>
                        <p>{{ movie.language }} | {{ movie.certificate }}</p>
                        <p><a class="btn btn-default" onclick="watchTrailer('{{ movie.name }}','{{ movie.trailer }}')" role="button">Watch Trailer</a>{% if user.is_authenticated %} <a class="btn btn-primary" href="{% url 'movie:detail' movie.id %}" role="button">Book Now</a>{% endif %}</p>
                     </div>
                </div>
            </div>
        {% if forloop.counter|divisibleby:3 %}
        </div>
        {% endif %}
     {% endfor %}
    {% else %}
    <p class="lead text-center">No Items Found!!!</p>
    {% endif %}
</div>
{% endblock %}